@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header{
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.namedLogo{
  display: flex;
  align-items: center;
  gap: 2px;
}

.namedLogo img{
  width: 35px;
}

.header span{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #FFFFFF;
}

.header ul{
  display: flex;
  gap: 3.375rem;
  align-items: center;
}

.header li{
  list-style: none;
}

.header li a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
